body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f4f4;
}

header {
    background: #222;
    color: white;
    padding: 30px;
    text-align: center;
}

main {
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
}

.post {
    background: white;
    padding: 20px;
    margin-bottom: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

.post img {
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
}